$font-stack: Helvetica, sans-serif
$light-background-color: #fff
$light-foreground-color: #222
$dark-foreground-color: #eee
$dark-background-color: #000
$light-primary-color: #76657f
$dark-primary-color: #8b7a95
$mid-color: #aaa
$transparent-color: #aaa0

body
  font: 100% $font-stack
  color: $dark-foreground-color
  background-color: $dark-background-color
  margin: 120px 20px
  @media (prefers-color-scheme: light)
    color: $light-foreground-color
    background-color: $light-background-color

.content
  margin: auto
  max-width: 600px

.site-title
  font-size: 3em
  text-align: center
  a
    text-decoration-color: $dark-primary-color
    @media (prefers-color-scheme: light)
      text-decoration-color: $light-primary-color

a
  color: $dark-foreground-color
  &:hover, &:active, &:focus
    color: $dark-primary-color
  @media (prefers-color-scheme: light)
    color: $light-foreground-color
    &:hover, &:active, &:focus
      color: $light-primary-color

footer
  padding: 0.5em 2em
  color: $dark-foreground-color
  @media (prefers-color-scheme: light)
    color: $light-foreground-color
  a
    color: $dark-foreground-color
    &:hover, &:active, &:focus
      color: $dark-primary-color
    @media (prefers-color-scheme: light)
      color: $light-foreground-color
      &:hover, &:active, &:focus
        color: $light-primary-color

.ingredient label
  transition: 0.3s ease
  cursor: pointer

.ingredient .ticker
  display: inline-block
  box-sizing: border-box
  width: 0.8em
  height: 0.8em
  margin-right: 1ch
  border-radius: 0.2ex
  background: $transparent-color
  border: solid 2px $dark-foreground-color
  transition: .3s ease
  @media (prefers-color-scheme: light)
    border: solid 2px $light-foreground-color

.ingredient input
  position: absolute
  visibility: hidden
  opacity: 0

.ingredient input:checked
  ~ label
    color: $mid-color
    text-decoration: line-through

    .ticker
      background: $dark-primary-color
      border: solid 2px $dark-primary-color
      @media (prefers-color-scheme: light)
        background: $light-primary-color
        border: solid 2px $light-primary-color
