{{ define "main" }}

<body>
  <div class="content">
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    {{ if (ne .Site.Title .Title) }}
    <h1 class="list-title">{{ .Title }}</h1>
    {{ end }}
    {{ range .Pages }}
    <div class="listpost">
      <h1><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
    </div>
    {{ end }}
  </div>
</body>
{{ end }}
