{{ define "main" }}
<div class="content">
  <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
  <h1>{{ .Title }}</h1>
  {{ if (.GetTerms "cuisines") }}
  <span><a href="/cuisines/">Cuisines:</a> </span>
  {{ end }}
  {{ range (.GetTerms "cuisines") }}
  <span class="cuisines"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
  {{ end }}
  {{ if (.GetTerms "cuisines") }}
  <br>
  {{ end }}
  {{ if (.GetTerms "courses") }}
  <span><a href="/courses/">Courses:</a> </span>
  {{ end }}
  {{ range (.GetTerms "courses") }}
  <span class="courses"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
  {{ end }}
  {{ .Content }}
  <h2>Equipment</h2>
  <ul>
    {{ range .Params.equipment }}
    <li>{{ . }}</li>
    {{ end }}
  </ul>
  <h2>Ingredients</h2>
  <ul>
    {{ range $i, $v := .Params.ingredients }}
    {{ if (eq $v "break") }}
    <hr>
    {{ else }}
    <div class="ingredient">
      <input type="checkbox" id="{{ $i }}">
      <label for="{{ $i }}">
        <span class="ticker"></span>{{ $v }}
      </label>
    </div>
    {{ end }}
    {{ end }}
  </ul>
  <h2>Instructions</h2>
  <ol>
    {{ range .Params.instructions }}
    <li>{{ . }}</li>
    {{ end }}
  </ol>
  {{- partial "footer.html" . -}}
</div>
{{ end }}
